<div class="row">

  <div class="col-md-12">

    <h1>{{stream.title}}
      <span class="pull-right">
        <a href="/output/{{publicKey}}.json"><img src="https://cdn.sparkfun.com/images/framework/json.png" alt="JSON"></a>
        <!-- <a href="/output/{{publicKey}}.csv"><img src="https://cdn.sparkfun.com/images/framework/icon_spreadsheet_black.png" alt="CSV"></a> -->
      </span>
    </h1>

    <p><strong>Fields:</strong> {{> renderFields stream}}</p>
    <p><strong>Tags:</strong> {{> renderTags stream}}</p>

    <p class="lead">{{{markdown stream.description}}}</p>

    <hr>

    <div class="progress"></div>

    <table class="table table-striped text-center table-hover table-bordered" id="data">
      <thead><tr></tr></thead>
      <tbody></tbody>
    </table>

    <script>

      d3.text('/output/{{publicKey}}.json?page=1', 'application/json', function(error, records) {

        records = records
          .split('\n')
          .filter(function(r) {
            return r.trim();
          })
          .map(function(r) {
            return JSON.parse(r);
          });

        var thead = d3.select('thead tr').selectAll('th')
                      .data(d3.keys(records[0]))
                      .enter().append('th').text(function(d){return d});

        var tr = d3.select('tbody').selectAll('tr')
                  .data(records).enter().append('tr');

        var td = tr.selectAll('td')
                  .data(function(d){return d3.values(d)})
                  .enter().append('td')
                  .text(function(d) {return d});

      });

      d3.json('/output/{{publicKey}}/stats', function(error, stats) {

        var percent = Math.floor((stats.used / stats.cap) * 100);
        var cls = 'success';

        var usedMb = (stats.used / (1024 * 1024)).toFixed(2),
            remainingMb = (stats.remaining / (1024 * 1024)).toFixed(2);

        percent = 100 - percent;

        if(percent < 33 && percent > 10) {
          cls = 'warning';
        } else if(percent < 10) {
          cls = 'danger';
        }

        // testing. ignore all of this
        var html = '<div class="progress-bar progress-bar-' + cls;
            html += '" role="progressbar" style="width: ' + percent;
            html += '%">';
            html += '<span class="text-center">';
            html += usedMb + 'MB used / ';
            html += remainingMb + 'MB remaining</span>'
            html += '</div>';

        d3.select('div.progress').html(html);

      });
    </script>

  </div>

</div>

