<div class="row">

  <div class="col-md-12">

    <h1>{{stream.title}}
      <span class="pull-right">
        <a href="/output/{{publicKey}}.json"><img src="https://cdn.sparkfun.com/images/framework/json.png" alt="JSON"></a>
        <a href="/output/{{publicKey}}.csv"><img src="https://cdn.sparkfun.com/images/framework/icon_spreadsheet_black.png" alt="CSV"></a>
      </span>
    </h1>

    <p><strong>Fields:</strong> {{> renderFields stream}}</p>
    <p><strong>Tags:</strong> {{> renderTags stream}}</p>

    <p class="lead">{{{markdown stream.description}}}</p>

    <hr>

    <div class="progress"></div>

    <table class="table table-striped text-center table-hover table-bordered" id="data">
      <thead></thead>
      <tbody></tbody>
    </table>

    <script id="header-template" type="text/x-handlebars-template">

      <tr>

        \{{#each this}}

          <th>\{{this}}</th>

        \{{/each}}

      </tr>

    </script>

    <script id="row-template" type="text/x-handlebars-template">

      \{{#each records}}

        <tr>

          \{{#each this}}

            <td>\{{this}}</td>

          \{{/each}}

        </tr>

      \{{/each}}

    </script>

    <script id="stats-template" type="text/x-handlebars-template">

      <div class="progress-bar progress-bar-\{{cls}}" role="progressbar" style="width: \{{percent}}%"></div>
      <div class="stats stats-\{{cls}}">\{{usedMb}} MB used / \{{remainingMb}} MB remaining</div>

    </script>

    <script>

      var row_tpl = Handlebars.compile($('#row-template').html()),
          header_tpl = Handlebars.compile($('#header-template').html()),
          stats_tpl = Handlebars.compile($('#stats-template').html());

      $.get('/output/{{publicKey}}.json?page=1', function(records) {

        var keys = [];

        for(var k in records[0]) {
          if(records[0].hasOwnProperty(k)) {
            keys.push(k);
          }
        }

        $('table thead').append(header_tpl(keys));
        $('table tbody').append(row_tpl({records: records}));

      });

      $.get('/output/{{publicKey}}/stats', function(stats) {

        var percent = Math.floor((stats.used / stats.cap) * 100),
            cls = 'success',
            usedMb = (stats.used / (1024 * 1024)).toFixed(2),
            remainingMb = (stats.remaining / (1024 * 1024)).toFixed(2);

        if(percent > 66 && percent < 90) {
          cls = 'warning';
        } else if(percent > 90) {
          cls = 'danger';
        }

        $('div.progress').html(
          stats_tpl({
            percent: percent,
            cls: cls,
            remainingMb: remainingMb,
            usedMb: usedMb
          })
        );

      });

    </script>

  </div>

</div>

